.f-wrapper {
    .f-container {
        justify-content: space-between;
        border-top: .5px solid rgba(0,0,0,0.148);

        .f-left {
            gap: 1rem;
        }

        .f-right {
            .f-menu {
                gap: 1.5rem;
                margin-top: 1.5rem;
                font-weight: 500;
            }
        }
    }
}

@media (max-width:768px) {
    .f-wrapper {
        .f-container {
            justify-content: center;

            &>div {
                text-align: center !important;
            }

            .f-left {
                align-items: center;
            }

            .f-right {
                align-items: center;
            }
        }
    }
}